DirectoryIndex index.html

RewriteEngine On
RewriteRule ^private(/|$) - [F,L]
RewriteRule ^portal/?$ portal.html [L]
RewriteRule ^gracias/?$ gracias.html [L]
RewriteRule ^admin/?$ admin.html [L]
RewriteRule ^en/?$ en.html [L]
RewriteRule ^es/?$ / [R=301,L]
